Hi {{ recipient_name }},

{{ actor_name }} just replied to your comment{{ snippet_title_suffix }}.

---
{{ comment_content }}
---

See the latest replies: {{ comment_url }}

{{ snippet_excerpt_text_block }}Keep reading,
The Library Team